@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: roboto, sans-serif;
}

.button-green {
    height: 48px;
    padding: 15px 8px;
    background-color: #69B42E;
    border: 1px solid #69B42E;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
}

.button-green:hover {
    background-color: #80BF4D;
}

.product-block {
    background-color: #1A1A1A;
    color: #fff;
}

.product-block .green {
    color: #69B42E;
}

.product-block .date {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.transparent-button {
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    height: 40px;
    padding: 8px 12px;
    border-radius: 80px;
    color: #D9D9D9;
    font-size: 18px;
    line-height: 24px;
}

.green-shield-block {
    background-color: #fff;
    border-radius: 10px;
}

.description {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    padding: 24px;
    height: 210px;
}

.shield-gamepad-phone-block {
    background-image: url('../img/shield-gamepad-phone.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-y: bottom;
}

.gears-block {
    background-image: url('../img/gears.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-y: bottom;
}

@media screen and (min-width: 480px) {
    .description {
        padding: 32px;
        height: 328px;
    }

    .shield-gamepad-phone-block,
    .gears-block {
        background-size: 220px;
    }

    .description-block {
        margin: 0 auto;
        max-width: 475px;
    }
}

@media screen and (min-width: 640px) {
    .description-block {
        max-width: 633px;
    }
}


@media screen and (min-width: 768px) {
    .description {
        width: 344px;
        height: 656px;
    }

    .shield-gamepad-phone-block,
    .gears-block {
        background-size: 100%;
        background-position: bottom;
    }

    .footer-container {
        margin: 0 auto;
        max-width: 695px;
    }
}

@media screen and (min-width: 1024px) {
    .footer-container {
        max-width: 946px;
    }
}

@media screen and (min-width: 1280px) {
    .footer-container {
        max-width: 1171px;
    }
}

@media screen and (min-width: 1920px) {
    .description {
        padding: 64px;
        width: 569px;
    }

    .shield-gamepad-phone-block,
    .gears-block {
        background-size: 340px;
        background-position: right;
        background-position-y: bottom;
    }
}